* {
  fill: white;
  stroke: black;
  stroke-width: 5px;
}
text, textPath {
  font-family: Poppins; 
  font-size: 63; 
  font-weight: 400; 
  fill:black; 
  letter-spacing: 1; 
  stroke: black; 
  stroke-width: 0;
}

/* Earth and Society ellipses - separate lines and backgrounds */
#dnjs-earth-line {
  stroke-width: 30;
  fill: none;
}
#dnjs-earth2society-background {
  fill: inherit;
}
#dnjs-society-line {
  stroke-width: 17;
  fill: none;
}
#dnjs-society2economy-background {
  fill: inherit;
}
/* #dnjs-economy-outer-background {
  stroke: none;
} */
/* Economy outer line */
#dnjs-economy-line {
  fill: none;
}
/* Economy quarters background */
#dnjs-household-quarter-background,
#dnjs-state-quarter-background,
#dnjs-commons-quarter-background,
#dnjs-market-quarter-background {
  stroke: none;
  fill: inherit;
}
/* Lines between economy quarters */
#dnjs-econ-spoke1-line,
#dnjs-econ-spoke2-line,
#dnjs-econ-spoke3-line,
#dnjs-econ-spoke4-line {
  stroke: inherit;
}
/* Innner circle - financial flows - background */
/* Also use this for border outline if required (stroke) */
#dnjs-financial-flows-background {
  stroke: none;
  fill: inherit;
}
/* Label backgrounds for Earth, Society & economy */
#dnjs-earth-text-background, 
#dnjs-society-text-background, 
#dnjs-economy-text-background {
  fill: inherit;
  stroke: none;
}
/* Flow arrow for living matter & materials */
/* Outline and background separately */
#dnjs-matter-flow-line {
  stroke: inherit;
  stroke-width: 50;
}
#dnjs-matter-flow-background {
  fill: inherit;
  stroke: none;
}
#dnjs-matter-flow-ahead {
  stroke: inherit;
  stroke-width: 5;
  fill: none;
}
/* Flow arrow for waste matter */
/* Outline and background separately */
#dnjs-waste-flow-line {
  stroke: inherit;
  stroke-width: 50;
}
#dnjs-waste-flow-background {
  fill: inherit;
  stroke: none;
}
#dnjs-waste-flow-ahead {
  stroke: inherit;
  stroke-width: 5;
  fill: none;
}
/* Large Energy and heat flow arrows */
/* Backgrounds and lines separate */
#dnjs-solar-energy-flow-background,
#dnjs-energy-flow-background,
#dnjs-waste-heat-background,
#dnjs-heat-flow-background {
  fill: inherit;
  stroke: none;
}
#dnjs-solar-energy-flow-foreground,
#dnjs-energy-flow-foreground,
#dnjs-waste-heat-foreground,
#dnjs-head-flow-foreground {
  stroke: inherit;
  stroke-width: inherit;
  fill: none;
}
/* Financial flow arrows - lines and arrowheads */
#dnjs-market-household-flow-aline,
#dnjs-household-market-flow-aline,
#dnjs-household-state-flow-aline,
#dnjs-state-household-flow-aline,
#dnjs-state-commons-flow-aline,
#dnjs-commons-state-flow-aline,
#dnjs-commons-market-flow-aline,
#dnjs-market-commons-flow-aline {
  stroke-width: inherit;
  stroke: inherit;
}
#dnjs-market-household-flow-ahead,
#dnjs-household-market-flow-ahead,
#dnjs-household-state-flow-ahead,
#dnjs-state-household-flow-ahead,
#dnjs-state-commons-flow-ahead,
#dnjs-commons-state-flow-ahead,
#dnjs-commons-market-flow-ahead,
#dnjs-market-commons-flow-ahead {
  stroke-width: inherit;
  stroke: inherit;
  fill: none;
}
/* Text */
#dnjs-earth-text,
#dnjs-society-text, 
#dnjs-economy-text {
  font-size:65; 
  font-weight: 900; 
  letter-spacing: 2; 
}
#dnjs-commons-text, 
#dnjs-household-text, 
#dnjs-market-text,
#dnjs-state-text {
  font-size: 60; 
  font-weight: 900; 
  letter-spacing: 2.5; 
}
#dnjs-se-solar-text,
#dnjs-se-energy-text,
#dnjs-energy-text,
#dnjs-wh-waste-text,
#dnjs-wh-heat-text,
#dnjs-heat-text {
  /* fill: inherit; */
}
/* Text that follows curved paths */
#dnjs-lmm-living-matter-text textPath,
#dnjs-lmm-and-materials-text textPath,
#dnjs-wm-waste-text textPath,
#dnjs-wm-matter-text textPath {
  fill: inherit;
}
#dnjs-ff-financial-text textPath {
  font-size: 50;
}
#dnjs-ff-flows-text textPath
{
  font-size: 50;
  letter-spacing: 5; 
}
#dnjs-attribution-title-text,
#dnjs-attribution-after-text {
  font-size:35;
}

/* Rotating financial flows */
/* #dnjs-economy-flow-arrows {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
} */